.body{
    background-color: #EFC03A; /* Dette er min baggrundsfarve */
}

.title{
    text-align : center;
}

.tekst{
    text-align : center;
}

.list{
    list-style-position: inside;
    padding: 0;
    display: inline-block;
    
}

.img{
    position: relative;
    cursor: pointer;
    margin: 0 auto; 
    display: block;
    align-items: center;
}